
.textareaError {

}

.wrapper {
    border-radius: 10px;
}

.title {
    font-weight: 600 !important;
    padding: 20px;
    font-family: Proxima Nova, serif;

}

.form {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.form label {
    font-family: Proxima Nova, serif;;
    font-size: 16px;
}

.input {
    border-radius: 0.25rem;
    width: calc(100% - 40px);
    padding: 10px;
    outline: none;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px #eee solid;
    margin-top: 4px;
    font-family: Proxima Nova, serif;
    font-size: 14px;
}

.error {
    color: #da1241;
    font-size: 14px;
    height: 26px;
    padding-left: 14px;
}


.buttonWrapper {
    padding-top: 10px;
}

.button {
    background-color: #1f2937;
    color: #f1f1f1;
    border: none;
    width: 160px;
    height: 30px;
    border-radius: 0.25rem;
    cursor: pointer;
}

.searchJob {
    font-family: Proxima Nova, serif;
    font-size: 16px;
}

