
.paginator {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.selectedPage {
    font-weight: bold;
    background-color: #1f2937;
    border-radius: 26px;
    color: white;
}

.pageNumber {
    padding: 3px;
}

.icons {
    width: 30px;
    cursor: pointer;
}

.icons svg {
    fill: rgb(31 41 55);
}

.iconsDisabled {
    pointer-events: none;
    opacity: 0.4;
}

