.profileInfo {
    background-color: #24282C;
    border-radius: 0.25rem;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    color: white;
    padding: 10px;
}

.userAvatar {
    height: 160px;
    margin-left: 60px;
    margin-bottom: 10px;
    border-radius: 100px;
}

.wrapper svg {
    fill: #1f2937;
}


