.header {
    grid-area: h;
    background-color:#279CEB
}

.logo {
    float: left;
    font-family: Open Sans Condensed, sans-serif;
    font-size: 20px;
    line-height: 35px;
    margin-left: 20px;
}

.loginBlock {
    max-width: 12em; /* блок занимает ширину родителя, max-width её ограничивает */
    min-height: 2em;
    margin-left: auto;
    margin-right: 0;
}

.userAvatar {
    width: 35px;
    height: 35px;
}