.header {
    display: flex;
    background-color: rgb(31 41 55);
    color: rgb(255 255 255);
    font-weight: 500;
    height: 70px;
    align-items: center;

}

.logo {
    font-family: Open Sans Condensed, sans-serif;
    font-size: 20px;
    line-height: 35px;
    margin-left: 20px;
    flex: 1;
}

.logo div {
    font-size: 14px;
    margin-left: 55px;
    color: #d1d5db;
}

.search {
    flex: 3;
}

.loginBlock {
    flex: 1;
}

.userAvatar {
    width: 35px;
    height: 35px;
}