.header {
    display: flex;
    background-color: rgb(31 41 55);
    color: rgb(255 255 255);
    font-weight: 500;
    height: 70px;
    align-items: center;
}

.icons svg {
    padding-right: 20px;
    cursor: pointer;
}

.logo {
    font-family: Open Sans Condensed, sans-serif;
    font-size: 20px;
    margin-left: 20px;
    flex: 1;
}

.logo div {
    font-size: 14px;
    margin-left: 55px;
    color: #d1d5db;
}

.link {
    text-decoration: none;
    color: #ffffff;;
}

.search {
    flex: 3;
}

.loginBlock {
    padding-left: 60px;
    flex: 1;
}

.userAvatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}