.wrapperMyFriends {
    background-color: #24282C;
    border-radius: 0.25rem;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    color: white;
    padding: 6px;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 16px;
    font-weight: 600 !important;
    padding: 20px;
    font-family: Proxima Nova, serif;
}

.name {
    text-decoration: none;
    color: white;
    font-family: Proxima Nova, serif;
    padding-left: 10px;
}

.wrapperAvatar {
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 50%;
}

.userAvatar {
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.link {
    text-decoration: none;
    display: flex;
    align-items: center;
}

