.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    justify-content: flex-start;
    padding-left: 10px;
}

.wrapperAvatar {
    width: 132px;
    height: 132px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
}

.userAvatar {
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.profileInfo svg {
    fill: white;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 18px;
    position: absolute;
    top: 100px;
    right: 70px;
}

.name {
    padding-top: 20px;
    font-size: 20px;
    font-family: Proxima Nova, serif;
    font-weight: 500 !important;
}

.content {
    font-family: Proxima Nova, serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.buttonWrapper {
    padding-top: 10px;
    margin-top: auto
}

.button {
    background-color: #6b7278;
    color: #1f2937;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 0.25rem;
    cursor: pointer;
}

.button:hover {
    background-color: #f1f1f1;
}

.buttonFollowing {
    background-color: #f1f1f1;
    color: #1f2937;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 0.25rem;
    cursor: pointer;
}

.buttonFollowing:hover {
    background-color: #6b7278;
}



