.postContainer {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    /*box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);*/
    background-color: #fdfdfd;
    border-radius: 0.25rem;
    display: flex;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.avatar {
    padding-left: 10px;
}

.avatar img {
    width: 50px;
}

.content {
    color: #24282C;
    padding-left: 20px;
}

.text {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #6c757d;
    font-size: 13px;
    font-family: dm sans, sans-serif;
}

.picture {
    margin-right: 20px;
}

.picture img {
    max-width: 100%;
    height: auto;
    border-radius: 0.25rem;
}

.like {
    padding-top: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.like:hover {
    color: #1f2937;
}

.like svg {
    width: 30px;
    fill: #6c757d;
}

.like svg:hover {
    fill: #1f2937;
}

.like span {
    color: #6c757d;
    padding-left: 10px;
    font-weight: 300 !important;
    font-family: 'DM Sans Regular', serif;
}

.like span:hover {
    color: #1f2937;
}


.header {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.name {
    line-height: 1.2;
    font-family: gilroy, sans-serif;
    font-size: 14px;
    font-weight: 700 !important;
}

.data {
    position: absolute;
    right: 70px;
    font-size: .875em;
    color: #6c757d;
}

.action {
    padding-right: 10px;
    color: rgb(31 41 55);
    position: relative;
}

.action svg {
    fill: rgb(31 41 55);
    height: 30px;
    cursor: pointer;
}

.actionMenu {
    width: 80px;
    position: absolute;
    background-color: white;
    right: 0;
    border-radius: 0.25rem;
    margin-right: 20px;
    padding: 2px 20px;
    /*box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;*/
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.actionMenuNone {
    display: none;
}

.itemActionMenu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.itemActionMenu svg {
    fill: rgb(31 41 55);
    height: 14px;
    margin: 0 6px 0 0
}

.itemActionMenu:hover {
    background-color: #edf2f6;
    border-radius: 0.25rem;
    cursor: pointer;
}

.textarea {
    border-radius: 0.25rem;
    border-width: 2px;
    width: calc(100% - 40px);
    padding: 15px;
    outline: none;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-color: #f1f1f1;
}