.postContainer {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    /*box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);*/
    background-color: #fdfdfd;
    border-radius: 0.25rem;
    display: flex;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.avatar {
    padding-left: 10px;
}

.avatar img {
    width: 50px;
}

.content {
    color: #24282C;
    padding-left: 20px;
}

.text {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #6c757d;
    font-size: 13px;
    font-family: dm sans, sans-serif;
}

.picture {
    margin-right: 20px;
}

.picture img {
    max-width: 100%;
    height: auto;
    border-radius: 0.25rem;
}

.like {
    padding-top: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.like:hover {
    color: #1f2937;
}

.like svg {
    width: 30px;
    fill: #6c757d;
}

.like svg:hover {
    fill: #1f2937;
}

.like span {
    color: #6c757d;
    padding-left: 10px;
    font-weight: 300 !important;
    font-family: 'DM Sans Regular', serif;
}

.like span:hover {
    color: #1f2937;
}


.header {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.name {
    line-height: 1.2;
    font-family: gilroy, sans-serif;
    font-size: 14px;
    font-weight: 700 !important;
}

.data {
    position: absolute;
    right: 70px;
    font-size: .875em;
    color: #6c757d;
}

.action {
    padding-right: 10px;
}
