
body {
  background: #FFF linear-gradient(to bottom, #3F567C, #B5CCC6) no-repeat;
  font-family: Open Sans, sans-serif;
}

.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

  max-width: 1100px;
  padding: 60px;
}

.app-wrapper-content {
  grid-area: c;
  background-color: rgb(255, 255, 255);
}

.window-margin {
  max-width: 1200px;
  padding: 60px;
  margin: auto;
}
