
.app-wrapper {
    display: flex;
    flex-direction: column;
    }

.container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: #edf2f6;
}

.leftSide {
    flex: 1;
    margin: 40px 10px 10px;
}

.content {
    background-color: #edf2f6;
    flex: 3;
    margin: 40px 10px 10px;
    border-radius: 0.25rem;
}

.rightSide {

    flex: 1;

    margin: 40px 10px 10px;
    border-radius: 0.25rem;
}

.window-margin {
    max-width: 1200px;
    padding: 60px;
    margin: auto;
}
