.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: #0051ff;
}

.messages {
    padding: 10px;
}

.message {

}